body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #000;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #086db6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #009bd9;
}

select {
  margin: 15px 0;
  padding: 8px;
  font-size: 16px;
}

#sponsorGridWrapper {
  margin-top: 20px;
  overflow: visible;
}

#sponsorGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 8px; /* tighter spacing */
}

.footer {
  margin-top: 30px;
  font-size: 0.9em;
}

.footer a {
  color: #5d9f44;
  text-decoration: none;
}
