body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #086db6;
  font-size: 24px;
}

label {
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

select {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  margin: 8px;
  padding: 10px 16px;
  background-color: #009bd9;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: #086db6;
}

.fweaSponsorGallery.variant {
  margin-bottom: 20px;
}

.footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #545251;
}

.footer a {
  color: #5d9f44;
  text-decoration: none;
}
